<h1><%= 'This is projects index' %></h1>
<ul>
  <% @projects.each do |project| %>
  <li>
    <ul>
      <li><%= project.title %></li>
      <li><%= link_to project.title, project_path(project) %></li>
    </ul>
  </li>
  <% end %>
</ul>